header > h1 { 
    color: maroon;
    margin-left: 20px;
}

header > h2 { 
    color:maroon;
    margin-left: 35px;
}

.background {
    background-color: rgb(99, 83, 97);
}

section {
    background-color: indianred;
    color: hotpink;
    text-align: center;
    font-weight: lighter;
    padding-top: 2%;
    padding-bottom: 1%;
    border:black;
    border-width: 5px;
    border-style: double;
}



aside {                     /* Modifica todos los elementos aside */
    margin-left: 1300px;
    color: grey;
    background-color:black;

}

article > p {               /* el selector > modifica todos los hijos directo. En este caso p es hijo directo de article */
    color: orange;

}
